[Unit]
Description=A controller for the AM43 smart blind motor.
After=network.target

[Service]
WorkingDirectory=/home/zacadams/AM43
ExecStart=flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
